In [15]:
import pandas as pd
import numpy as np
import os
path=r"D:\User\UdemyProyectos\python-ml-course\datasets"

In [16]:
red_wine=pd.read_csv(os.path.join(path,r'wine\winequality-red.csv'),sep=';')
red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
white_wine=pd.read_csv(os.path.join(path,r'wine\winequality-white.csv'),sep=';')
white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
white_wine.shape

(4898, 12)

In [5]:
red_wine.shape

(1599, 12)

In [6]:
wine_data=pd.concat([red_wine,white_wine],axis=0,ignore_index=True)
wine_data.sort_values(by=['fixed acidity'])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
5858,3.8,0.310,0.02,11.1,0.036,20.0,114.0,0.99248,3.75,0.44,12.4,6
6386,3.9,0.225,0.40,4.2,0.030,29.0,118.0,0.98900,3.57,0.36,12.8,8
4471,4.2,0.170,0.36,1.8,0.029,93.0,161.0,0.98999,3.65,0.89,12.0,7
4864,4.2,0.215,0.23,5.1,0.041,64.0,157.0,0.99688,3.42,0.44,8.0,3
6045,4.4,0.460,0.10,2.8,0.024,31.0,111.0,0.98816,3.48,0.34,13.1,6
...,...,...,...,...,...,...,...,...,...,...,...,...
555,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
554,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
442,15.6,0.685,0.76,3.7,0.100,6.0,43.0,1.00320,2.95,0.68,11.2,7
557,15.6,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
652,15.9,0.360,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5

In [8]:
data1=wine_data.head(10)
data2=wine_data[300:310]
data3=wine_data.tail(10)

data4=pd.concat([data1,data2,data3],axis=0)
data4

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.90,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.60,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.30,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.90,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.90,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
5,7.4,0.660,0.00,1.80,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
6,7.9,0.600,0.06,1.60,0.069,15.0,59.0,0.99640,3.30,0.46,9.4,5
7,7.3,0.650,0.00,1.20,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7
8,7.8,0.580,0.02,2.00,0.073,9.0,18.0,0.99680,3.36,0.57,9.5,7
9,7.5,0.500,0.36,6.10,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
300,7.5,0.530,0.06,2.60,0.086,20.0,44.0,0.99650,3.38,0.59,10.7,6
301,11.1,0.180,0.48,1.50,0.068,7.0,15.0,0.99730,3.22,0.64,10.1,6
302,8.3,0.705,0.12,2.60,0.092,12.0,28.0,0.99940,3.51,0.72,10.0,5
303,7.4,0.670,0.12,1.60,0.186,5.0,21.0,0.99600,3.39,0.54,9.5,5
304,8.4,0.650,0.60,2.10,0.112,12.0,90.0,0.99730,3.20,0.52,9.2,5
305,10.3,0.530,0.48,2.50,0.063,6.0,25.0,0.99980,3.12,0.59,9.3,6
306,7.6,0.620,0.32,2.20,0.082,7.0,54.0,0.99660,3.36,0.52,9.4,5
307,10.3,0.410,0.42,2.40,0.213,6.0,14.0,0.99940,3.19,0.62,9.5,6
308,10.3,0.430,0.44,2.40,0.214,5.0,12.0,0.99940,3.19,0.63,9.5,6
309,7.4,0.290,0.38,1.70,0.062,9.0,30.0,0.99680,3.41,0.53,9.5,6
6487,6.8,0.220,0.36,1.20,0.052,38.0,127.0,0.99330,3.04,0.54,9.2,5
6488,4.9,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.4,6
6489,6.1,0.340,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.8,6
6490,5.7,0.210,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6
6491,6.5,0.230,0.38,1.30,0.032,29.0,112.0,0.99298,3.29,0.54,9.7,5
6492,6.2,0.210,0.29,1.60,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
6493,6.6,0.320,0.36,8.00,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
6494,6.5,0.240,0.19,1.20,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
6495,5.5,0.290,0.30,1.10,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
6496,6.0,0.210,0.38,0.80,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [19]:
sub_path=os.path.join(path,"distributed-data")

## Datos distribuidos

In [20]:
data=pd.read_csv(os.path.join(sub_path,'001.csv'))
data.head(10)

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1
5  2003-01-06      NaN      NaN   1
6  2003-01-07      NaN      NaN   1
7  2003-01-08      NaN      NaN   1
8  2003-01-09      NaN      NaN   1
9  2003-01-10      NaN      NaN   1

In [21]:
validate_data=data[data.sulfate.notnull()&data.nitrate.notnull()]

In [22]:
validate_data.head(10)

           Date  sulfate  nitrate  ID
278  2003-10-06     7.21    0.651   1
284  2003-10-12     5.99    0.428   1
290  2003-10-18     4.68    1.040   1
296  2003-10-24     3.47    0.363   1
302  2003-10-30     2.42    0.507   1
314  2003-11-11     1.43    0.474   1
320  2003-11-17     2.76    0.425   1
326  2003-11-23     3.41    0.964   1
332  2003-11-29     1.30    0.491   1
338  2003-12-05     3.15    0.669   1

### Haremos un recorrido de los archivos de un directorio

In [39]:
def ls(path=os.getcwd()):
    return [arch.path for arch in os.scandir(path) if (arch.is_file() and arch.name.endswith('csv'))]

In [28]:
a=[os.path.abspath(arch) for arch in os.listdir(sub_path) if os.path.isfile(os.path.join(sub_path,arch))]

In [40]:
files=ls(sub_path)
files.sort()
files

['D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\001.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\002.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\003.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\004.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\005.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\006.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\007.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\008.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\009.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\010.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\011.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\012.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\013.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\014.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\015.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\016.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\017.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\018.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\019.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\020.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\021.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\022.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\023.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\024.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\025.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\026.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\027.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\028.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\029.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\030.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\031.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\032.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\033.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\034.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\035.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\036.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\037.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\038.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\039.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\040.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\041.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\042.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\043.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\044.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\045.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\046.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\047.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\048.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\049.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\050.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\051.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\052.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\053.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\054.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\055.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\056.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\057.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\058.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\059.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\060.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\061.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\062.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\063.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\064.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\065.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\066.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\067.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\068.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\069.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\070.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\071.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\072.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\073.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\074.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\075.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\076.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\077.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\078.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\079.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\080.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\081.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\082.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\083.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\084.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\085.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\086.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\087.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\088.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\089.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\090.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\091.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\092.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\093.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\094.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\095.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\096.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\097.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\098.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\099.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\100.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\101.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\102.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\103.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\104.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\105.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\106.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\107.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\108.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\109.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\110.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\111.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\112.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\113.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\114.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\115.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\116.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\117.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\118.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\119.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\120.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\121.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\122.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\123.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\124.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\125.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\126.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\127.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\128.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\129.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\130.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\131.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\132.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\133.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\134.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\135.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\136.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\137.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\138.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\139.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\140.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\141.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\142.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\143.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\144.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\145.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\146.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\147.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\148.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\149.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\150.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\151.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\152.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\153.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\154.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\155.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\156.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\157.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\158.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\159.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\160.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\161.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\162.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\163.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\164.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\165.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\166.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\167.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\168.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\169.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\170.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\171.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\172.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\173.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\174.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\175.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\176.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\177.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\178.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\179.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\180.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\181.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\182.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\183.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\184.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\185.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\186.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\187.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\188.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\189.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\190.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\191.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\192.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\193.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\194.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\195.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\196.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\197.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\198.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\199.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\200.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\201.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\202.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\203.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\204.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\205.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\206.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\207.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\208.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\209.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\210.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\211.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\212.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\213.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\214.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\215.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\216.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\217.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\218.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\219.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\220.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\221.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\222.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\223.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\224.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\225.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\226.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\227.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\228.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\229.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\230.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\231.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\232.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\233.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\234.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\235.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\236.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\237.csv',
 'D:\\User\\UdemyProyectos\\python-ml-course\\datasets\\distributed-data\\238.csv',

In [44]:
def fullconcat(path=os.getcwd(),data=None):
    files=ls(path); files.sort()
    files.pop(0)
    for file_path in files:
        data1=pd.read_csv(file_path)
        data=pd.concat([data,data1],axis=0)
            
    return data

In [45]:
datapro=fullconcat(sub_path,data)
datapro.shape

(772087, 4)

In [50]:
datafilter=datapro.dropna(axis='rows',thresh=3)
datafilter.head(10)

           Date  sulfate  nitrate  ID
278  2003-10-06     7.21    0.651   1
284  2003-10-12     5.99    0.428   1
290  2003-10-18     4.68    1.040   1
296  2003-10-24     3.47    0.363   1
302  2003-10-30     2.42    0.507   1
314  2003-11-11     1.43    0.474   1
320  2003-11-17     2.76    0.425   1
326  2003-11-23     3.41    0.964   1
332  2003-11-29     1.30    0.491   1
338  2003-12-05     3.15    0.669   1

In [58]:
datapro[datapro.sulfate.notnull() & datapro.nitrate.isnull()].head(10)

            Date  sulfate  nitrate  ID
2665  2009-04-19     1.00      NaN  23
2671  2009-04-25     0.92      NaN  23
2674  2009-04-28     6.10      NaN  23
2665  2009-04-19     1.10      NaN  25
2674  2009-04-28     2.40      NaN  25
2659  2009-04-13     0.59      NaN  28
2665  2009-04-19     0.64      NaN  28
2671  2009-04-25     0.68      NaN  28
2674  2009-04-28     1.70      NaN  28
2665  2009-04-19     1.20      NaN  31

## Joins DataSets

In [63]:
sub_path=os.path.join(path,'athletes')

In [65]:
data_main=pd.read_csv(os.path.join(sub_path,'Medals.csv'),encoding='ISO-8859-1')

In [66]:
data_main.head()

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals
0,Michael Phelps,23.0,2008,08/24/2008,8,0,0,8
1,Michael Phelps,19.0,2004,08/29/2004,6,0,2,8
2,Michael Phelps,27.0,2012,08/12/2012,4,2,0,6
3,Natalie Coughlin,25.0,2008,08/24/2008,1,2,3,6
4,Aleksey Nemov,24.0,2000,10/01/2000,2,1,3,6